body {
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #aaaaaa));
  background: -moz-linear-gradient(center top, #eeeeee 5%, #aaaaaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#aaa');
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.pagination {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  background-color: #dddddd; }

.mybutton {
  -moz-box-shadow: inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background: -moz-linear-gradient(center top, #ffec64 5%, #ffab23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  background-color: #ffec64;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  color: #333333;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffee66; }
  .mybutton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background: -moz-linear-gradient(center top, #ffab23 5%, #ffec64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
    background-color: #ffab23; }
  .mybutton:active {
    position: relative;
    top: 1px; }

h2#entry {
  background-color: #d9aa81;
  border: 2px #757364 solid;
  padding: 5px 5px;
  display: block;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#menu-navi {
  clear: both;
  background-color: #cccccc;
  overflow: hidden;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto; }

  #menu-navi ul {
    margin: 0px;
    padding: 0px;
    padding-right: 0.3em;
    list-style: none; }
    #menu-navi ul li {
      font-size: 1em;
      float: right;
      padding: 0.3em 0.5em; }

#url-form {
  padding: 6px 15px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #eeeeee;
  overflow: auto;
  font-weight: bold; }
  #url-form form input {
    font-size: 1.4em;
    padding: 6px 4px; }
  #url-form form input#item_url {
    background-color: #ffffdd; }
    #url-form form input#item_url:focus {
      -moz-box-shadow: 0 0 5px rgba(10, 100, 255, 0.9);
      -webkit-box-shadow: 0 0 5px rgba(10, 100, 255, 0.9);
      box-shadow: 0 0 5px rgba(10, 100, 255, 0.9);
      -moz-transition: -moz-box-shadow 0.1s ease-out;
      -o-transition: box-shadow 0.1s ease-out;
      -webkit-transition: box-shadow 0.1s ease-out; }
  #url-form form input#item_submit {
    padding: 5px 5px; }

.tag_link {
  margin: 10px; }

#item-tab ul {
  margin: 10px 0px 0px 0px;
  list-style: none;
  float: right; }
  #item-tab ul li {
    display: inline; }

#container {
  background: url("/images/body-bg.png") repeat-x 0 0 white;
  width: 85%;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 8px #888888;
  -webkit-box-shadow: 0 0 8px #888888;
  box-shadow: 0 0 8px #888888; }
  #container #header {
    height: 48px; }
    #container #header h1 {
      margin: 2px 0px 6px 8px;
      float: left; }
      #container #header h1 a {
        display: block;
        background-image: url(/images/worklista-logo.png);
        background-repeat: no-repeat;
        text-indent: -999em;
        padding: 0px;
        margin: 0px;
        width: 275px;
        height: 45px; }
    #container #header #motto {
      float: left;
      margin: 0 0 0 20px;
      padding: 18px 0 0 0;
      font-size: 0.9em;
      font-family: "Carter One" arial serif;
      color: grey; }
    #container #header #login {
      background: rgba(255, 255, 255, 0);
      float: right;
      margin: 4px 4px;
      padding: 4px;
      font-weight: bold;
      font-size: 0.9em;
      padding: 0 0 10px 0; }
      #container #header #login img {
        margin: 0 0 -10px 0; }
      #container #header #login a {
        text-decoration: none;
        color: #cccccc; }
        #container #header #login a:hover {
          color: #6666ff; }

#footer {
  width: 75%;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 0.9em;
  text-align: center;
  color: #222222; }

.profile {
  margin: 5px 0px 0px 0px;
  border: 1px solid black;
  padding: 2px;
  background-color: #eeeeee;
  overflow: auto;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 8px #888888;
  -webkit-box-shadow: 0 0 8px #888888;
  box-shadow: 0 0 8px #888888; }
  .profile .head {
    float: left;
    margin: 2px;
    padding: 2px 0 0 0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #dddddd;
    width: 45%;
    overflow: auto; }
    .profile .head .photo {
      float: left;
      margin: 3px 10px 1px 5px; }
    .profile .head .name {
      font-size: 1.3em;
      font-weight: bold; }
      .profile .head .name a {
        text-decoration: none;
        color: black; }
    .profile .head .username {
      font-size: 1em; }
    .profile .head .twitter {
      margin-top: 3px;
      font-size: 1em; }
    .profile .head .website {
      font-size: 0.8em; }
  .profile .body {
    float: left;
    width: 53%; }
    .profile .body .description {
      margin: 1px;
      padding: 1px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 0.9em; }

.item {
  clear: both;
  margin: 3px 0px;
  border-top: 1px solid black;
  background-color: white;
  padding: 1px 5px 1px 5px;
  overflow: auto; }
  .item #icon {
    float: left;
    margin: 2px 5px 0px 0px; }
  .item .head {
    margin: 3px; }
    .item .head .title {
      float: left;
      font-size: 1.1em; }
    .item .head .social {
      float: left;
      font-size: 0.8em;
      font-weight: bold;
      margin-left: 10px; }
      .item .head .social .hatena {
        float: left;
        margin: 0.2em;
        padding: 0 0.4em;
        background-color: #ffcccc;
        color: red; }
        .item .head .social .hatena a {
          color: red; }
      .item .head .social .retweet {
        float: left;
        margin: 0.2em;
        background-color: #ccffcc;
        padding: 0 0.4em;
        color: #00aa00; }
        .item .head .social .retweet a {
          color: green; }
    .item .head .date {
      float: right;
      color: #111111;
      font-size: 0.8em; }
  .item .body {
    padding-top: 0.1em;
    padding-left: 0.5em; }
    .item .body .tags {
      float: left;
      font-size: 0.9em; }
      .item .body .tags a {
        text-decoration: none;
        text-size: 0.8em;
        color: #999999; }
        .item .body .tags a:hover {
          color: #333333; }
    .item .body .summary {
      clear: both;
      margin-top: 2em;
      margin-left: 1em;
      padding-left: 0.5em;
      border-left: solid #cccccc 2px;
      max-width: 40em; }
      .item .body .summary a {
        text-decoration: none;
        color: #444444; }
        .item .body .summary a:hover {
          color: black; }
    .item .body .edit-buttons {
      overflow-y: hidden;
      overflow-x: hidden;
      clear: both;
      float: right;
      font-size: 0.6em; }
      .item .body .edit-buttons form {
        display: none; }

.confirm {
  margin: 20px 20px;
  overflow: auto; }
  .confirm .yes {
    margin: 5px;
    float: left; }
  .confirm .no {
    margin: 7px;
    float: left; }

.another_way {
  font-size: 1.2em;
  text-weight: bold; }

.settings {
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px 5px 5px 5px;
  background: #cbedff;
  margin: 3px 0px;
  border: 1px solid black;
  overflow: auto; }
  .settings #left-settings {
    float: left;
    width: 70%;
    padding-left: 20px; }
    .settings #left-settings .entry {
      padding-bottom: 30px;
      overflow: auto; }
      .settings #left-settings .entry .property {
        width: 30%;
        float: left;
        padding: 5px;
        padding-left: 20px;
        font-weight: bold; }
      .settings #left-settings .entry .field {
        width: 65%;
        float: right;
        color: #888888;
        font-size: 0.8em; }
      .settings #left-settings .entry .forgot {
        width: 65%;
        padding-top: 20px;
        float: right;
        font-size: 0.9em; }

#pages {
  background: #eeeeee;
  width: 90%;
  padding: 0.5em 3em;
  margin: 2em auto;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto; }
  #pages p {
    text-indent: 1em;
    text-align: justify;
    line-height: 1.4em;
    width: 90%; }
  #pages h2 {
    font-family: "Carter One" arial serif;
    border-bottom: solid 1px black;
    text-shadow: 2px 2px 5px white; }
  #pages #home {
    width: 740px; }
    #pages #home .left {
      float: left;
      width: 260px; }
      #pages #home .left .welcome-message {
        margin: 40px 5px 60px 0;
        font-size: 36px;
        color: green;
        text-shadow: black 1px 1px; }
      #pages #home .left .button {
        margin: 0.5em;
        font-size: 24px; }
    #pages #home .howitworks {
      width: 480px;
      float: left; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
