#pages

  %h2 What can I do with this thing? 

  %p Here's the list. 
  %ul
    %li list your work that matters. Only those you want others to take a look at. 
    %li select your some URLs that would help someone understand your work and areas of interest real quick.
    %li update the list either by hand or by filtering RSS feeds.
    %li provide your single RSS feed to anyone who cares about what you are up to.
    %li export your list in HTML or plain text. 
    %li create your profile page

  %p
    %strong Note
    that not all the features above have been implemented yet. Actually, at this moment features are quite limited, however, I listed these just to give you an idea what should be possible with this service in the future. 

  %h2 What kind of work should I list up? 

  %p Any kind. For instance, it can be a set of links to your writing(blog entry, article...), photos, research papers, slides, screencasts and videos. If you get interviewed by someone, you should add that, too. This is a place to show your professional work. 

  %h2 Why not RSS? 

  %p Anyone interested in EVERYTHING you publish online may subscribe to your RSS feeds or follow/friend you, however, that's simply not the case.

  %p People are literally fed up with feeds. Some people might subscribe to your blog and spend another month to know what you have to say about things. Others might spend an hour digging your blog entries in the past, searching your name to get a grasp of who you are. Don't let them anymore. With Worklista, you may choose which work is going into the list. Someone doing a quick research on you will find this list and get a quick look in a matter of minutes. It's better this way for them and yourself, too. 

  %h2 Googling my name should list up all my work. No? 

  %p Googling a name just yields an okay grasp of that person. You can't control what others have to say about you online. Searching your name with popular search engines, what people refer to as ego-search, may list unsolicited URLs:

  %ul
    %li your outdated information
    %li your outdated work
    %li bad reputation or rumor

  %p They persist in search result. There's little we can do about them. Yes, we must face it. On the other hand, wouldn't it be nice if we could select our GOOD work and try to put this list on top of those search results?

  %p Managing your work publication with Worklista is like drafting a good resume. You might have had a Web page in your personal web site where you listed up your work in order. Good, let me ask a question: when was the last time you updated that list? Worklista is a content management system specifically designed for this purpose. 

  %h2 What if somebody claims other people's work as theirs? 

  %p We don't verify any work: who did what etc,. Be cautious if you are thinking about using this service to do a research on someone. 

