#pages

  %img{ :src => "images/howitworks.png", :width => 450, :style => "float: right; margin-left: 50px" }

  %p Do you publish your work such as articles, photos, software programs, anything that has a URL? Would you like to maintain a decent URL list of them? If so, Worklista may help you a lot!

  %ul
    - unless user_signed_in?
      %li
        = link_to 'Sign up!!', '/signup'
      %li
        = link_to 'A sample page', '/users/knsmr'

