%h1 Welcome!

#pages

  %p Do you publish your work such as articles, photos, software programs, anything that has a URL? Would you like to maintain a decent URL list of them? If so, Worklista may help you a lot!

  %h2 With Worklista, you can have a single place where you will be able to:
  %ul
    %li list your work that matters. Only those you want others to take a look at. 
    %li select your 10 URLs that would help someone understand your work and areas of interest real quick.
    %li update the list either by hand or by filtering RSS feeds.
    %li provide your single RSS feed to anyone who cares about what you are up to.
    %li export your list in HTML or plain text. 
    %li create your profile page

  %p
    %strong Note
    that not all the features above have been implemented yet. Actually, at this moment features are quite limited, however, I listed these just to give you an idea what should be possible with this service in the future. 
