- title "Welcome"
#pages{:style => 'background: white; border: 1px solid grey'}
  #home
    .left
      .welcome-message
        3 easy steps:
        %ol
          %li Create
          %li Publish
          %li List
      - unless user_signed_in?
        .button
          = link_to 'Sign up!!', '/signup'
        .button
          = link_to 'Sample page', user_recent_path("knsmr")
    .howitworks
      %img{ :src => "images/howitworks.png", :width => 450}
      %p Do you publish your work such as articles, photos, software programs, anything that has a URL? Would you like to maintain a decent URL list of them? If so, Worklista may help you a lot!

